.forgot-wrapper {
  min-height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-card {
  width: 100%;
  max-width: 420px;
  background: #0b1220;
  padding: 36px;
  border-radius: 20px;
  text-align: center;
}

.forgot-card h2 {
  color: #fff;
  margin-bottom: 20px;
}

.forgot-card input {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: #020617;
  color: #fff;
  margin-bottom: 14px;
}

.forgot-card button {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  background: #ffb703;
  border: none;
  font-weight: 800;
}

.error-msg {
  color: #ff4d4d;
}

.success-msg {
  color: #00ff7f;
}
